certifi==2022.9.24
fastapi==0.88.0
httptools==0.5.0
python-dotenv==0.21.0
python-multipart==0.0.5
PyYAML==6.0
torch==1.13.0
torchvision==0.14.0
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.18.1
websockets==10.4
